.copyright {
  position: absolute;
  left: 38px;
  bottom: 15px;
  padding: 10px;
  background-color: #fff;
}
@media screen and (max-height: 630px) {
  .copyright {
    position: absolute;
    left: 38px;
    bottom: 10px;
  }
}
@media @mobileLg {
  .copyright {
    bottom: -48px;
    left: 0;
    z-index: 1;
  }
}