h1, .h1{
  position: relative;
  .font-size(120);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;

  &::before {
    content: 'Bid4Ask';
    position: absolute;
    .font-size(90);
    top: -9px;
    left: -37px;
    color: #fff;
    text-shadow: 0px 0px 2px #176f63;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -43px;
    width: 65px;
    height: 8px;
    background-color: #000;
  }
}
h2, .h2{
  .font-size(90);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
h3, .h3{
  .font-size(60);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
h4, .h4{
  .font-size(18);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h5, .h5{
  .font-size(14);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p, .p{
  .font-size(12);
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
}

.ul {
  margin: 0;
  padding: 20px 0 10px;
  font-family: 'Roboto Mono', monospace;
  color: #177565;
  list-style-type: none;

  li {
    position: relative;
    font-weight: bold;
    padding-left: 50px;
    margin-bottom: 25px;
    .font-size(12);

    &:hover {
      &::before {
        left: 4px;
        color: #1F9988;
      }
    }


    &::before {
      content: '⟶';
      position: absolute;
      font-weight: 400;
      color: #000;
      left: 0;
      top: 0;
      font-size: 20px;
      line-height: 12px;
      transition: .2s;
    }
  }

}

.sub-title{
  .font-size(14);
  font-family: 'Montserrat', sans-serif;
}
.notation{
  .line-height(10, 14);
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: #7F7F7F;
}

.text-bold {
  font-weight: 700;
}

.link {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  .font-size(11);
  letter-spacing: 0.02em;
  color: #1F9988;
}
h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, p, .ul, .ul li,
.sub-title, .notation, .link {
  transition: .2s;
}

@media @laptopLg {
  h1, .h1{
    .font-size(110);

    &::before {
      top: -7px;
      .font-size(85);
    }
  }
  h2, .h2{
    .font-size(80);
  }
}

@media @laptop {
  h1, .h1{
    .font-size(90);

    &::before {
      top: -4px;
      .font-size(75);
    }
  }
  h2, .h2{
    .font-size(60);
  }
}

@media @tablet {
//992px
  h1, .h1{
    .font-size(80);

    &::before {
      top: 4px;
      .font-size(70);
    }
  }
  h2, .h2{
     .font-size(55);
   }

}

@media @mobileLg {
//768px
  h1, .h1{
    .font-size(60);


    &::before {
      top: 12px;
      left: -21px;
      .font-size(50);
    }

    &::after {
      bottom: 9px;
      left: -20px;
      width: 20px;
      height: 3px;
    }
  }


}


@media @mobileMd {
//768px
  h1, .h1,
  h2, .h2 {
    .font-size(52);


    &::before {
      top: 23px;
      .font-size(38);
    }
  }
}


