.demands-screen-bg {

  .header-login {
    background-color: #1F9988;
  }
}

.demands-screen {
  .aside {
    background-color: #126f62;
  }

  .aside-img {
    top: -8%;
    right: auto;
    left: -19.5%;
    background-size: 170%;
    background-image: url("../img/aside/pic_screen2.svg");
    //animation-name: demands-screen-anim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }

  @keyframes demands-screen-anim{
    0%   {background-position: 50% 50%;}
    30%   {background-position: 50% 50%;}
    50%   {background-position: 50% 60%;}
    60%   {background-position: 50% 60%;}
    70%   {background-position: 50% 80%;}
    100% {background-position:  50% 50%;}
  }

  .drop-animation {
    top: -100px;
  }
}
.demands-screen_head {
  margin-top: 5vh;
}

.demands-screen_description {
  margin-top: 6vh;

  .demands-screen_txt {
    max-width: 300px;
    width: 100%;
    margin-right: 12%;
  }

  .demands-screen_list {
    max-width: 500px;
  }
}

@media @laptop {
  .demands-screen_description{
    flex-wrap: wrap;
  }

  .demands-screen_txt{
    margin-right: 30px;
  }
}

@media @mobileLg {
  .demands-screen_head {
    margin-top: 0;
  }

  .demands-screen {
    .aside {
      height: 350px;
    }

    .aside-img {
      background-size: 350px!important;
      background-position: 50% 100%!important;
    }

    .drop-animation {
      top: auto;
      height: 130%;
      bottom: 80px;
    }

    .panel {
      padding-bottom: 110px;
    }
  }
}


//@h800
//@h750
//@h700
//@h650
//@h600
@media @h750 {
  .demands-screen_head {
    margin-top: 2.5vh;
  }
  .demands-screen_description {
    margin-top: 3vh;
  }
}

@media only screen and (max-width: 1360px) and (max-height: 680px) {
  .demands-screen_description {
    .demands-screen_txt{
      margin-right: 6%;
    }
  }
}
