.news-screen-bg {
  .header-login {
    background-color: #00919b;
  }
}


.news-screen {
  .aside {
    background-color: #005c62;
  }
  .aside-img {
    width: 151%;
    top: 0;
    right: -1%;
    left: auto;
    background-position: 99% 50%;
    background-size: 144%;
    background-image: url("../img/aside/pic_screen5.svg");
    animation-name: news-screen-anim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }


  @keyframes news-screen-anim{
    0%   {background-position: 99% 50%;}
    30%   {background-position: 99% 50%;}
    50%   {background-position: 99% 60%;}
    60%   {background-position: 99% 60%;}
    70%   {background-position: 99% 80%;}
    100% {background-position:  99% 50%;}
  }

  .drop-animation {
    top: -100px;
  }
}
.news-screen_head {
  margin-top: 20px;
}

.news-screen_description {
  margin-top: 50px;
}

.news-screen_t-widget {
  width: 100%;
  max-width: 360px;
  margin-right: 7%;

  img {
    width: 100%;
  }
}
.news-screen_video {
  width: 100%;
  max-width: 400px;
}
