.solution-screen-bg {
  .header-login {
    background-color: #14ad9e;
  }
}
.solution-screen {
  .aside {
    background-color: #0b867a;
  }
  .aside-img {
    width: 111%;
    top: 0;
    right: 0;
    left: auto;
    background-size: 110%;
    background-position: 0 50%;
    background-image: url("../img/aside/pic_screen3.svg");
    //animation-name: solution-screen-anim;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }

  @keyframes solution-screen-anim{
    0%   {background-position: 0 50%;}
    25%   {background-position: 0 54%;}
    50%   {background-position: 0 50%;}
    75%   {background-position: 0 46%;}
    100%   {background-position: 0 50%;}
  }

  .drop-animation {
    top: -100px;
  }
}
.solution-screen_head {
  //margin-top: 20px;
}

.solution-screen_description {
  margin-top: 50px;

  .solution-screen_txt {
    max-width: 300px;
    width: 100%;
    margin-right: 12%;
  }

  .solution-screen_list {
    max-width: 500px;
  }
}

@media @h750 {
  .solution-screen_head {
    margin-top: 1vh;
  }
  .solution-screen_description {
    margin-top: 3vh;

    .solution-screen_txt {
      margin-right: 30px;
    }
  }
}

@media only screen and (max-width: 1360px) and (max-height: 680px) {
  .solution-screen_description {
    .solution-screen_txt{
      margin-right: 6%;
    }
  }
}


@media @laptop {
  .solution-screen_description{
    flex-wrap: wrap;
    margin-top: 30px;

    .solution-screen_txt{
      margin-bottom: 30px;
      margin-right: 0;
      max-width: 600px;
    }

    .solution-screen_list {
      max-width: 600px;
    }
  }
}

@media @mobileLg {
  .solution-screen {

    .aside {
      height: 320px;
    }

    .aside-img {
      background-size: 370px!important;
      background-position: 50% 50%;
    }
  }
}

@media @mobileMd {
  .solution-screen {
    .aside {
      height: 280px;
    }

    .aside-img {
      background-size: 300px!important;
      background-position: 50% 50%;
    }
  }
}