/**
 * Media queries
 */

@mobileSm:~"only screen and (max-width: 400px)";
@mobile:~"only screen and (max-width: 480px)";
@mobileMd:~"only screen and (max-width: 640px)";
@mobileLg:~"only screen and (max-width: 768px)";
@tablet:~"only screen and (max-width: 992px)";
@laptop:~"only screen and (max-width: 1200px)";
@laptopLg:~"only screen and (max-width: 1440px)";

/**
 * Main colors
 */
